<a href="https://colab.research.google.com/github/IanHung0109/Colab-Programming-1/blob/main/%E7%88%AC%E8%AD%89%E5%8D%B7%E4%BA%A4%E6%98%93.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
import io

# 將json改為csv

url = 'https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=20220412&type=ALLBUT0999&_=1649743235999'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/111.25 (KHTML, like Gecko) Chrome/99.0.2345.81 Safari/123.36'}

res = requests.get(url,headers=headers)

# 去除指數價格
lines = [l for l in res.text.split('\n') if len(l.split(',"'))>=10]
# 將list轉為txt方便用csv讀取
df = pd.read_csv(io.StringIO(','.join(lines)))
# 將不必要的符號去除
df = df.applymap(lambda s:(str(s).replace('=','').replace(',','').replace('"',''))).set_index('證券代號')
# 將數字轉為數值型態
df = df.applymap(lambda s:pd.to_numeric(str(s),errors='coerce')).dropna(how='all',axis=1)
df

,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
證券代號,,,,,,,,,,,,,
0050,15367279,25468,2032841606,132.15,132.85,131.60,132.55,0.10,132.55,7,132.60,44,0.00
0051,41710,98,2444469,58.50,58.85,58.35,58.40,0.20,58.40,38,58.55,35,0.00
0052,974237,1369,116419243,119.00,120.30,118.25,119.55,0.10,119.50,1,119.55,106,0.00
0053,8219,13,513984,62.70,62.70,62.00,62.50,0.25,62.05,1,62.65,12,0.00
0054,4085,7,121359,29.70,29.71,29.69,29.71,0.20,29.44,8,29.67,5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9944,109928,109,2310097,21.10,21.15,20.65,21.00,0.10,20.80,1,21.05,2,4.35
9945,17344629,13016,1290439757,76.00,77.00,73.00,73.20,4.60,73.20,100,73.30,18,9.46
9946,39461,55,524147,13.15,13.35,13.15,13.35,0.00,13.20,30,13.35,1,19.63
9955,6394816,3574,212725981,33.40,34.50,32.50,32.70,0.30,32.70,45,32.75,56,0.00
9958,6176720,3964,726158501,113.50,119.00,113.50,118.50,3.50,118.50,5,119.00,412,21.78